/* Base styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #e0f2f1; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Login form styling */
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px; /* Set a specific width */
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3498db; /* Dark blue title */
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #3498db; /* Dark blue text */
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #3498db; /* Dark blue button */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  